<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">

    
  <title>
    {% block title %}{% endblock title %}
    </title>

  <!-- Adding fib icon -->  
  <link rel="icon" href="{{url_for('static',filename='assets/images/fib-icon.png')}}" type="image/png">

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}"  rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/fontawesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/templatemo-seo-dream.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/animated.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/owl.css') }}">
<!--

TemplateMo 563 SEO Dream

https://templatemo.com/tm-563-seo-dream

-->

</head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="/" class="logo">
              <h4>The Disease Predictor <img src="{{ url_for('static', filename='assets/images/logo-icon.png') }}" alt=""></h4>
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
             
              <li class="scroll-to-section" style="color: black;">
                <!-- dropdown-toggle -->
                <a href="#" id="frontPagesDropdown" aria-expanded="false" data-bs-toggle="dropdown">
                    Home
                    <span class="fas fa-angle-down nav-link-arrow ms-1"></span>
                </a>
                <div class="dropdown-menu p-lg-4">
                    <!-- <div class="row"> -->
                        <!-- <div class="col-6 col-lg-4"> -->
                            <h6 class="d-block mb-3 text-center">Main pages</h6>
                            <ul class="mb-4">

                                <li class="mb-2 p-1 text-center" onMouseOver="this.style.backgroundColor='#33ccc5'" onMouseOut="this.style.backgroundColor='#FFFFFF'" 
                                style="border-radius: 15%">
                                    <a class="megamenu-link" style="color: black;" href="/BreastCancer">Breast Cancer</a>
                                </li>
                                  
                                <li class="mb-2 p-1 text-center" onMouseOver="this.style.backgroundColor='#33ccc5'" onMouseOut="this.style.backgroundColor='#FFFFFF'" 
                                style="border-radius: 15%">
                                    <a class="megamenu-link" style="color: black;" href="/HeartDisease">Heart Disease</a>
                                </li>

                                <li class="mb-2 p-1 megamenu-item text-center" onMouseOver="this.style.backgroundColor='#33ccc5'" onMouseOut="this.style.backgroundColor='#FFFFFF'" 
                                style="border-radius: 15%">
                                    <a class="megamenu-link" style="color: black;" href="/AboutUs">Lungs Cancer</a>
                                </li>
                            </ul>
                </div>
            </li>
           
             
              <li class="scroll-to-section"><a href="#about">About Us</a></li>
              <!-- <li class="scroll-to-section"><a href="#services">Services</a></li>
              <li class="scroll-to-section"><a href="#portfolio">Portfolio</a></li>
              <li class="scroll-to-section"><a href="#contact">Contact Us</a></li>  -->
              <li class="scroll-to-section"><div class="main-blue-button"><a href="#contact">Get Your Quote</a></div></li> 
            </ul>        
            <a class='menu-trigger'>
                <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>

  
{% block body %}{% endblock body %}

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p>Copyright © 2021 SEO Dream Co., Ltd. All Rights Reserved. 
          
          <br>Web Designed by <a rel="nofollow" href="https://templatemo.com" title="free CSS templates">TemplateMo</a></p>
        </div>
      </div>
    </div>
  </footer>

    <!-- Scripts -->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/owl-carousel.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/animation.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/imagesloaded.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/custom.js') }}"></script>
  
  </body>
  </html>